<h1 class="text-center">Welcome to Fetch</h1>
<div class="text-center">
<div ng-show="currentUser">
  <div class="text-center row">
    <h3>Meet and Greet</h3>
    <p class="meet-greet">Meet and Greet is a 30min introduction that helps your dog walker meet his or her new friend.</p>
    <p id="require">*We require every new customer that doesn't already have an assigned dog walker to schedule one before their first walk.</p>
    <a href="/meetandgreet" class="btn btn-info .col-xs-6 .col-md-4">Schedule Meet and Greet</a>
     </div>
     <br>
     <h3>Exsisting Customer</h3>
     <div class="text-center row">
    <p class="meet-greet">Horray! If you're an existing customer with Right of Way dogs or you've already had your Meet and Greet.</p>
    <p class="meet-greet">Go ahead and schedule your first walk</p>
    <a  href="/schedulewalk" class="btn btn-info .col-xs-6 .col-md-4">Schedule Walk</a>
    </div>
 </div>
</div>
