<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Schedule Walk</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Dog1-Name">Dog 1 name</label>
  <div class="col-md-6">
  <input id="Dog1-Name" name="Dog1-Name" type="text" placeholder="Enter your dog's name" class="form-control input-md" required="">

  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Dog1-age">Dog 1 age</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="Dog1-age-0">
      <input type="radio" name="Dog1-age" id="Dog1-age-0" value="1" checked="checked">
      Puppy 0-6 months
    </label>
  </div>
  <div class="radio">
    <label for="Dog1-age-1">
      <input type="radio" name="Dog1-age" id="Dog1-age-1" value="">
      Puppy 6-12 months
    </label>
  </div>
  <div class="radio">
    <label for="Dog1-age-2">
      <input type="radio" name="Dog1-age" id="Dog1-age-2" value="">
      1-2 years
    </label>
  </div>
  <div class="radio">
    <label for="Dog1-age-3">
      <input type="radio" name="Dog1-age" id="Dog1-age-3" value="">
      3+ years
    </label>
  </div>
  <div class="radio">
    <label for="Dog1-age-4">
      <input type="radio" name="Dog1-age" id="Dog1-age-4" value="">
      Don't know
    </label>
  </div>
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Dog1Size">Dog 1 size</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="Dog1Size-0">
      <input type="radio" name="Dog1Size" id="Dog1Size-0" value="" checked="checked">
      Small (1-15 lbs)
    </label>
  </div>
  <div class="radio">
    <label for="Dog1Size-1">
      <input type="radio" name="Dog1Size" id="Dog1Size-1" value="">
      Medium (16-45 lbs)
    </label>
  </div>
  <div class="radio">
    <label for="Dog1Size-2">
      <input type="radio" name="Dog1Size" id="Dog1Size-2" value="">
      Large (46-70 lbs)
    </label>
  </div>
  <div class="radio">
    <label for="Dog1Size-3">
      <input type="radio" name="Dog1Size" id="Dog1Size-3" value="">
      Extra Large (71+ lbs)
    </label>
  </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Dog1Breed">Dog 1 breed</label>
  <div class="col-md-6">
  <input id="Dog1Breed" name="Dog1Breed" type="text" placeholder="Enter your dog's breed" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Dog2name">Dog 2 name</label>
  <div class="col-md-5">
  <input id="Dog2name" name="Dog2name" type="text" placeholder="Enter your dog's name" class="form-control input-md" required="">
  <span class="help-block">Add another dog if needed </span>
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Dog2age">Dog 2 age</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="Dog2age-0">
      <input type="radio" name="Dog2age" id="Dog2age-0" value="1" checked="checked">
      Not Applicable
    </label>
  </div> <div class="radio">
    <label for="Dog2age-0">
      <input type="radio" name="Dog2age" id="Dog2age-1" value="" checked="checked">
      Puppy 0-6 months
    </label>
  </div>
  <div class="radio">
    <label for="Dog2age-1">
      <input type="radio" name="Dog2age" id="Dog2age-2" value="">
      Puppy 6-12 months
    </label>
  </div>
  <div class="radio">
    <label for="Dog2age-2">
      <input type="radio" name="Dog2age" id="Dog2age-3" value="">
      1-2 years
    </label>
  </div>
  <div class="radio">
    <label for="Dog2age-3">
      <input type="radio" name="Dog2age" id="Dog2age-4" value="">
      3+ years
    </label>
  </div>
  <div class="radio">
    <label for="Dog2age-4">
      <input type="radio" name="Dog2age" id="Dog2age-5" value="">
      Don't know
    </label>
  </div>
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Dog2size">Dog 2 size</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="Dog2size-0">
      <input type="radio" name="Dog2size" id="Dog2size-0" value="1" checked="checked">
      Not Applicable
    </label>
  </div>
    <div class="radio">
      <label for="Dog2size-1">
      <input type="radio" name="Dog2size" id="Dog2size-1" value="" checked="checked">
      Small (1-15 lbs)
      </label>
  </div>
  <div class="radio">
    <label for="Dog2size-2">
      <input type="radio" name="Dog2size" id="Dog2size-2" value="" checked="checked">
      Medium (16-45 lbs)
    </label>
  </div>
  <div class="radio">
    <label for="Dog2size-3">
      <input type="radio" name="Dog2size" id="Dog2size-3" value="" checked="checked">
      Large (46-70lbs)
    </label>
  </div>
  <div class="radio">
    <label for="Dog2size-4">
      <input type="radio" name="Dog2size" id="Dog2size-4" value="" checked="checked">
      Extra Large (71+ lbs)
    </label>
  </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Dog2breed">Dog 2 breed</label>
  <div class="col-md-5">
  <input id="Dog2breed" name="Dog2breed" type="text" placeholder="Enter your dog's breed" class="form-control input-md">

  </div>
</div>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="PickupLocation">Pickup location</label>
  <div class="col-md-6">
    <input id="PickupLocation" name="PickupLocation" type="search" placeholder="Enter the pickup address" class="form-control input-md" required="">

  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="PickupNotes">Pickup notes</label>
  <div class="col-md-4">
    <textarea class="form-control" id="PickupNotes" name="PickupNotes" placeholder="Example: I'll be in conference room 390b."></textarea>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="ExistingWalker">Existing walker</label>
  <div class="col-md-4">
    <select id="ExistingWalker" name="ExistingWalker" class="form-control">
      <option value="1">not applicable</option>
      <option value="">Walker 1</option>
      <option value="">Walker 2</option>
      <option value="">Walker 3</option>
      <option value="">Walker 4</option>
      <option value="">Walker 5</option>
      <option value="">Walker 6</option>
      <option value="">Walker 7</option>
    </select>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="DogWalked">What day(s) do you need your dog(s) walked?</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="DogWalked-0">
      <input type="checkbox" name="DogWalked" id="DogWalked-0" value="1">
      Monday
    </label>
  </div>
  <div class="checkbox">
    <label for="DogWalked-1">
      <input type="checkbox" name="DogWalked" id="DogWalked-1" value="2">
      Tuesday
    </label>
  </div>
  <div class="checkbox">
    <label for="DogWalked-2">
      <input type="checkbox" name="DogWalked" id="DogWalked-2" value="">
      Wednesday
    </label>
  </div>
  <div class="checkbox">
    <label for="DogWalked-3">
      <input type="checkbox" name="DogWalked" id="DogWalked-3" value="">
      Thursday
    </label>
  </div>
  <div class="checkbox">
    <label for="DogWalked-4">
      <input type="checkbox" name="DogWalked" id="DogWalked-4" value="">
      Friday
    </label>
  </div>
  <div class="checkbox">
    <label for="DogWalked-5">
      <input type="checkbox" name="DogWalked" id="DogWalked-5" value="">
      Saturday
    </label>
  </div>
  <div class="checkbox">
    <label for="DogWalked-6">
      <input type="checkbox" name="DogWalked" id="DogWalked-6" value="">
      Sunday
    </label>
  </div>
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="TimeWalk">What time do you want your dog(s) walked?</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="TimeWalk-0">
      <input type="radio" name="TimeWalk" id="TimeWalk-0" value="1" checked="checked">
      8am-11am
    </label>
  </div>
  <div class="radio">
    <label for="TimeWalk-1">
      <input type="radio" name="TimeWalk" id="TimeWalk-1" value="2">
      11am-2pm
    </label>
  </div>
  <div class="radio">
    <label for="TimeWalk-2">
      <input type="radio" name="TimeWalk" id="TimeWalk-2" value="">
      2pm-5pm
    </label>
  </div>
  <div class="radio">
    <label for="TimeWalk-3">
      <input type="radio" name="TimeWalk" id="TimeWalk-3" value="">
      5pm-8pm
    </label>
  </div>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="AdditionalNotes">Anything else your dog walker should know</label>
  <div class="col-md-4">
    <textarea class="form-control" id="AdditionalNotes" name="AdditionalNotes" placeholder="Fluffy's special treats are on the kitchen counter. Thanks!"></textarea>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="ServicesAndRates">Services and rates</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="ServicesAndRates-0">
      <input type="checkbox" name="ServicesAndRates" id="ServicesAndRates-0" value="1">
      15 minute walk - $17
    </label>
  </div>
  <div class="checkbox">
    <label for="ServicesAndRates-1">
      <input type="checkbox" name="ServicesAndRates" id="ServicesAndRates-1" value="">
      30 minute walk/jog - $22
    </label>
  </div>
  <div class="checkbox">
    <label for="ServicesAndRates-2">
      <input type="checkbox" name="ServicesAndRates" id="ServicesAndRates-2" value="">
      60 minute walk/jog - $33
    </label>
  </div>
  <div class="checkbox">
    <label for="ServicesAndRates-3">
      <input type="checkbox" name="ServicesAndRates" id="ServicesAndRates-3" value="">
      1 night dog sitting - $75
    </label>
  </div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="RequestWalk"></label>
  <div class="col-md-4">
    <button id="RequestWalk" name="RequestWalk" class="btn btn-success">Request Walk</button>
  </div>
</div>

</fieldset>
</form>
